div {
    margin: 0px;
    padding: 0px;
}

#new-trigger {
    margin: 0 auto;
    text-align: center;
}

#new-thread {
    margin: 0 auto;
    display: none;
}

#new-comment{
    margin: 0 auto;
    display: table;
}

#footer {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #5f819d;
    padding: 1pt;
}

#btn {
    border: 1px solid #5f819d;
    text-decoration: none;
    padding: 2pt;
    color: #5f819d;
    background-color: #c5c8c6;
}

#comment-div {
    display: inline-block;
    padding: 1pt;
}

#board-title {
    text-align: center;
}

.post-title {
    color: navy;
}

.post-author {
    color: seagreen;
}

.pretty-link {
    text-decoration: none;
}

.light-blue {
    color: #e6f6ff;
}

.dark-blue {
    color: #005092;
}

.fore-color {
    color: #5f819d;
}

.dark-bg {
    background: #a0c8e9;
}

.light-bg {
    background: #e6f6ff;
}

.box {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #5f819d;
    margin-top: 0px;
}

.box-innie {
    width: 100%;
    position: relative;
    margin-top: -20px;
}

img.center {
    display: block;
    margin: auto;
}

body {
    background-color: #e6f6ff;
}

a:visited {
    color: #5f819d;
}
