<title>{{"/" + category['url'] + "/ - " + category['name']}}</title>

{% extends "layout.html" %}
{% from 'macros.html' import nav_board_list %}

{% block body %}

    {{nav_board_list()}}
    
    <div>
        <h2 class="text-center">{{"/" + category['url'] + "/ - " + category['name']}}</h2>
    </div>

    <hr>

    <h1 id="new-trigger" class="text-center">[<a href="#" onclick="show_form('new-thread'); hide_elem('new-trigger');">Start a New Thread</a>]</h1>

    <div id="new-thread" style="display: none" class="container-fluid">
        <form method="post" action="" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" placeholder="Anonymous" name="name" class="form-control"></td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td><input type="text" name="subject" class="form-control"> 
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><textarea rows="4" cols="30" type="text" name="comment" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>File</td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td><br></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-success" value="Post"></td></td>
                </tr>
            </table>
        </form>
    </div>
    
    <script>
        function show_form(elem) {
            document.getElementById(elem).style.display = "table";
        }

        function hide_elem(elem) {
            document.getElementById(elem).style.display = "none";
        }

        function full_img_size(elem) {
            switch(document.getElementById(elem).style.width) {
                case "200pt": document.getElementById(elem).style.width = "auto"; break;
                case "auto": document.getElementById(elem).style.width = "200pt"; break;
            }
        }
    </script>

    <hr>

    {% if (not posts) %}
        <h1 class="text-center">It looks like empty...Post something</h1>
    {% endif %}

    {% for post in posts %}
        <div class="container-fluid">
            <h4><span class="label label-success">{{post.title}}</span> <span class="label label-info">{{post.author}}</span> {{format_time(post.time)}} No.{{post.id}} [<a href="/{{category['url']}}/thread/{{post.id}}">Reply</a>]</h4>

            {% set thread_file_ext = check_extension(query_thread_file(post.id)) %}

            <p>
            {% if thread_file_ext == 'png' or thread_file_ext == 'gif' or thread_file_ext == 'gifv' or thread_file_ext == 'jpg' or thread_file_ext == 'jpeg' %}
                <img id="thread_img" src="/static/uploads/{{query_thread_file(post.id)}}" style="width: 200pt; height: auto" onclick="full_img_size('thread_img')">
            {% elif thread_file_ext == 'webm' or thread_file_ext == 'mp4' %}
                <video width="320" height="240" controls>
                    <source src="/static/uploads/{{query_thread_file(post.id)}}">
                </video>
            {% endif %}
            {{post.text}}
            </p>

            {% set comment = query_comment(post.id) %}

            {% for c in comment %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4><span class="label label-info">{{c.author}}</span> {{format_time(c.time)}} No.{{c.id}}</h4>

                        {% set comment_file_ext = check_extension(query_comment_file(c.id)) %}

                        <p>
                        {% if comment_file_ext == 'png' or comment_file_ext == 'gif' or comment_file_ext == 'gifv' or comment_file_ext == 'jpg' or comment_file_ext == 'jpeg' %}
                            <img id="comment_img" src="/static/uploads/{{query_comment_file(c.id)}}" style="width: 200pt; height: auto" onclick="full_img_size('comment_img')"> 
                        {% elif comment_file_ext == 'webm' or  comment_file_ext == 'mp4'%}
                            <video width="320" height="240" controls>
                                <source src="/static/uploads/{{query_comment_file(c.id)}}">
                            </video> 
                        {% endif %}
                        {{c.comment}}
                        </p>
                    </div>
                </div>

                <br>
                <span></span>
                <br>
            {% endfor %}
            <hr>
        </div>
    {% endfor %}
    
{% endblock %}
