{% extends "layout.html" %}

{% block body %}

    <div id="board-list-nav">
        <span>[</span>
            <a href="/all" class="pretty-link">a</a> /
            <a href="#" class="pretty-link">b</a> /
            <a href="#" class="pretty-link">c</a> /
            <a href="#" class="pretty-link">d</a> /
            <a href="#" class="pretty-link">hue</a> /
        <span>]</span>
        <span>[<a href="/">Home</a>]</span>
    </div>

    <div id="board-title">
        <h2>{{"/" + category['url'] + "/ - " + category['name']}}</h2>
    </div>

    <hr></hr>

    <h1 id="new-trigger">[<a href="#" onclick="show_form('new-thread'); hide_elem('new-trigger');">Start a New Thread</a>]</h1>

    <div id="new-thread">
        <form method="post" action="">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" placeholder="Anonymous" name="name"></td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td><input type="text" name="subject"><input type="submit" value="Post"></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><textarea rows="4" cols="30" type="text" name="comment"></textarea></td>
                </tr>
                <tr>
                    <td>File</td>
                    <td><input type="file" name="file"></td>
                </tr>
            </table>
        </form>
    </div>
    
    <script>
        function show_form(elem) {
            document.getElementById(elem).style.display = "table";
        }

        function hide_elem(elem) {
            document.getElementById(elem).style.display = "none";
        }
    </script>

    <hr></hr>

    {% if (not posts) %}
        <h1>It looks like empty...Post something</h1>
    {% endif %}

    {% for post in posts %}
        <div id="thread">
            <h4><span class="post-title">{{post.title}}</span> <span class="post-author">{{post.author}}</span> {{format_time(post.time)}} No.{{post.id}} [<a href="/{{category['url']}}/thread/{{post.id}}">Reply</a>]</h4>
            <p>{{post.text}}</p>

            {% set comment = query_comment(post.id) %}

            {% for c in comment %}
                <div id="comment-div" class="dark-bg">
                    <h4><span class="post-author">{{c.author}}</span> {{format_time(c.time)}} No.{{c.id}}</h4>
                    <p>{{c.comment}}</p>
                </div>

                <br>
                <span></span>
                <br>
            {% endfor %}
            <hr></hr>
        </div>
    {% endfor %}
    
{% endblock %}
