<title>minichan</title>

{% extends "layout.html" %}

{% block body %}

    <div class="container-fluid">
        <img src="/static/img/minichan_logo.png" class="img-responsive center-block">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Boards</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th>Board</th>
                        <th>Title</th>
                    </tr>

                    {% for category in categories %}
                    <tr>
                        <td>
                            <a class="pretty-link" href={{ "/" + category.url}}>{{category.url}}</a><br>
                        </td>
                        <td>
                            <p>{{category.name}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        
{% endblock %}
