<title>minichan</title>

{% extends "layout.html" %}

{% block body %}

    <div>
        <div class="box light-bg">
            <div class="box-innie dark-blue dark-bg">
                <h2>Boards</h2>
            </div>
            <div class="content">
                {% for category in categories %}
                    <a class="pretty-link" href={{ "/" + category.url}}>{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        <img src="/static/img/minichan_logo.png">
    </div>
        
{% endblock %}
