{% extends "layout.html" %}
{% from 'macros.html' import nav_board_list %}

{% block body %}

    {{nav_board_list()}}

    <br>
    <div id="new-comment" style="display: table" class="container-fluid">
        <form method="post" action="" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" placeholder="Anonymous" name="name" class="form-control"></td>
                </tr>
                <tr>
                    <td>Comment</td>
                    <td><textarea rows="4" cols="30" type="text" name="comment" class="form-control"></textarea></td>
                </tr>
                <tr>
                    <td>File</td>
                    <td><input type="file" name="file"></td>
                </tr>
                <tr>
                    <td>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Post" class="btn btn-success"></td>
                </tr>
            </table>
        </form>
    </div>

    <hr>

    <div class="container-fluid">
        <h4><span class="label label-success">{{post.title}}</span> <span class="label label-info">{{post.author}}</span> {{format_time(post.time)}} No.{{post.id}}</h4>
        <p><img src="/static/uploads/{{query_thread_file(post.id)}}" style="width: 100pt; height: 120pt"> {{post.text}}</p>
        {% for a in allcomm %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><span class="label label-info">{{a.author}}</span> {{format_time(a.time)}} No.{{a.id}}</h4>
                    <p><img src="/static/uploads/{{query_comment_file(a.id)}}" style="width: 100pt; height: 120pt"> {{a.comment}}</p>
                </div>
            </div>

            <br>
            <span></span>
            <br>
        {% endfor %}
        <hr>
    </div>
{% endblock %}
